<div class="labelled-input">
  <label for="site">
    <%= (locals.label) ? locals.label : 'Site'%>
  </label>
  <select class="dropdown" name="site">
    <% if (locals.allowAll || true) {%>
      <option value="all"
      <%= (locals.selected !== 'all') ? "selected": "" %>>
      &mdash; ALL &mdash;
    </option>
    <% } %>
    <% sites.forEach(function(site) { %>
    <option value="<%=site%>"
      <%= (locals.selected === site) ? "selected":"" %>>
      <%= site %>
    </option>
    <% }); %>
  </select>
</div>
