<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../../partials/head %>
  </head>
  <body>
    <%# Screen 23 %>
    <h1 class="title --centered">Edit Transit</h1>
    <form class="" action="/admin/transits/edit" method="post">
      <div class="input-row">
        <div class="labelled-input">
          <label for="username">Transport Type</label>
            <input type="text" name="type" value="<%= connects[0].TransitType %>" readonly></input>
        </div>
        <div class="labelled-input">
          <label for="route">Route</label>
          <input type="text" name="route" value="<%= connects[0].TransitRoute %>" />
          <input type="hidden" name="initialRoute" value="<%= connects[0].TransitRoute %>" />
        </div>
        <div class="labelled-input">
          <label for="price">Price ($)</label>
          <input type="text" name="price" value="<%= connects[0].TransitPrice %>" />
        </div>
      </div>
      <div class="input-row">
        <div class="labelled-input">
          <label for="sites">Connected Sites</label>
          <select name="sites" id="sites" multiple>
            <% allSites.forEach(site => {
              if ( connectedSites.includes(site.SiteName)) { %>
                <option value="<%= site.SiteName %>" selected><%= site.SiteName %></option>
              <% } else { %>
                <option value="<%= site.SiteName %>" ><%= site.SiteName %></option>
              <% }}) %>
          </select>
        </div>
      </div>
      <div class="button-row">
        <a href="/admin/transits">
          <button class="btn" type="button" name="back">Back</button>
        </a>
        <button class="btn" type="submit" >Update</button>
      </div>
    </form>
  </body>
</html>
