<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../../partials/head %>
  </head>
  <body>
    <%# Screen 22 %>
    <h1 class="title --centered">Manage Transit</h1>
    <form class="" action="/admin/transits" method="get">
      <div class="input-row">
        <div class="labelled-input">
          <label for="transportType">Transport Type</label>
          <select class="dropdown" name="transportType">
            <option value="" selected>--All--</option>
            <option value="MARTA">MARTA</option>
            <option value="Bus">Bus</option>
            <option value="Bike">Bike</option>
          </select>
        </div>
        <div class="labelled-input">
          <label for="route">Route</label>
          <input type="text" name="route" value="" />
        </div>
      </div>
      <div class="input-row">
        <div class="labelled-input">
          <label for="">Contain Site</label>
          <select class="dropdown" name="siteName">
            <% sites.forEach(site => { %>
              <option value="<%= site.SiteName %>"><%= site.SiteName %></option>
            <% }) %>
          </select>
        </div>
        <div class="labelled-input">
          <label for="priceRange">Price Range</label>
          <input type="text" name="priceMin" value="" />
          --
          <input type="text" name="priceMax" value="" />
        </div>
      </div>
      <div class="button-row">
        <button class="btn" name='filter' value='true' type="submit">Filter</button>
      </div>
    </form>
    <form class="" action="/admin/transits" method="post">
      <div class="resultsTable">
        <table>
          <thead>
            <th>Route</th>
            <th>Transport Type</th>
            <th>Price</th>
            <th># Connected Sites</th>
            <th># Transit Logged</th>
          </thead>
          <tbody>
            <% transits.forEach(transit => { %>
            <tr>
              <td>
                <input
                  type="radio"
                  name="route"
                  onclick="chooseTransit(this)"
                  data-type="<%= transit.TransitType %>"
                  value="<%= transit.TransitRoute %>"
                />
                <%= transit.TransitRoute %>
              </td>
              <td>
                <%= transit.TransitType %>
              </td>
              <td><%= transit.TransitPrice %></td>
              <td><%= transit.ConnectedSites %></td>
              <td><%= transit.TransitLogs %></td>
            </tr>
            <% }); %>
          </tbody>
        </table>
      </div>
      <div class="button-row">
        <a href="/admin/transits/create">
          <button class="btn" type="button">Create</button>
        </a>
        <button class="btn" type="submit" name="buttonType" value="edit">
          Edit
        </button>
        <button class="btn" type="submit" name="buttonType" value="delete">
          Delete
        </button>
      </div>
      <input id="transport-type" type="hidden" name="type" value="" />
    </form>
    <div class="button-row">
      <a href="/dashboard">
        <button class="btn" type="button" name="back">Back</button>
      </a>
    </div>
  </body>
  <script type="text/javascript">
    function chooseTransit(el) {
      document.getElementById('transport-type').value = el.dataset.type;
    }
  </script>
</html>
