<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../../partials/head %>
  </head>
  <body>
    <%# Screen 18 %>
    <h1 class="title --centered">Manage User</h1>
    <form class="" action="/admin/users" method="get">
      <div class="input-row">
        <div class="labelled-input">
          <label for="Name">Username</label>
          <input type="text" name="username" value="" />
        </div>
        <div class="labelled-input">
          <label for="userType">User Type</label>
          <select class="dropdown" name="userType">
            <option value="User" selected>User</option>
            <option value="Visitor">Visitor</option>
            <option value="Staff">Staff</option>
            <option value="Manager">Manager</option>
          </select>
        </div>
        <div class="labelled-input">
          <label for="status">Status</label>
          <select class="dropdown" name="status">
            <option value="all" selected>--All--</option>
            <option value="a">Approved</option>
            <option value="p">Pending</option>
            <option value="d">Declined</option>
          </select>
        </div>
      </div>
      <div class="button-row">
        <div class="button-row">
          <button class="btn" type="submit" name="filter" value="true">Filter</button>
        </div>
      </div>
    </form>
    <form class="" action="/admin/users" method="post">
      <table>
        <thead>
          <th>Username</th>
          <th>Email Count</th>
          <th>User Type</th>
          <th>Status</th>
        </thead>
        <tbody>
          <% users.forEach(user => { %>
          <tr>
            <td><input type="radio" name="selectedUsername" value="<%= user.username %>"/> <%= user.Username %></td>
            <td><%= user.numEmails%></td>
            <td><%= user.userType%></td>
            <td><%= user.status %></td>
          </tr>
          <% });%>
        </tbody>
      </table>
      <div class="button-row">
        <button class="btn" type="submit" name="confirmStatus" value="approve">
          Approve
        </button>
        <button class="btn" type="submit" name="confirmStatus" value="decline">
          Decline
        </button>
      </div>
    </form>
    <div class="button-row">
      <a href="/dashboard">
        <button class="btn" type="button" name="back">Back</button>
      </a>
    </div>
  </body>
</html>
