<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../../partials/head %>
  </head>
  <body>
    <%# Screen 26 %>
    <h1 class="title --centered">View/Edit Event</h1>
    <form class="" action="/manager/events/edit" method="post">
      <div class="labelled-input">
        <label for="name">Name</label>
        <input type="text" name="name"
          value="<%= event.name %>" disabled/>
      </div>
      <div class="labelled-input">
        <label for="price">Price</label>
        <input class="--little" type="text" name="price"
          value="<%= event.price %>" disabled/>
      </div>
      <div class="labelled-input">
        <label for="capacity">Capacity</label>
        <input class="--little" type="text" name="capacity"
          value="<%= event.capacity %>" disabled/>
      </div>
      <div class="labelled-input">
        <label for="minStaff">Minimum Staff Requirement</label>
        <input class="--little" type="text" name="minStaff"
          value="<%= event.minStaff %>" disabled/>
      </div>
      <div class="labelled-input">
        <label for="startDate">Start Date</label>
        <input type="text" name="startDate"
          value="<%= event.startDate %>" disabled/>
      </div>
      <div class="labelled-input">
        <label for="endDate">End Date</label>
        <input type="text" name="endDate"
          value="<%= event.endDate %>" disabled/>
      </div>
      <div class="labelled-input">
        <label for="description">Description</label>
        <textarea type="text"
          name="description"><%= event.description %></textarea>
      </div>
      <div class="labelled-input">
        <label for="assignStaff">Assign Staff</label>
        <select name="assignStaff" multiple>
          <% staff.forEach ((s) => { %>
            <option value="<%= s.username %>"
              <%= (s.assigned) ? 'selected' : '' %>>
              <%= s.firstName %> <%= s.lastName %>
            </option>
          <% })%>
        </select>
        <input type='hidden' name='minStaff' value='<%= event.minStaff %>'/>
        <input type='hidden' name='startDate' value='<%= event.startDate %>'/>
        <input type='hidden' name='name' value='<%= event.name %>'/>
      </div>
      <div class="button-row">
        <button class="btn" type="submit">Update</button>
      </div>
    </form>
    <br>
    <form class="" action="" method="get">
      <input type='hidden' name='date' value='<%= event.startDate %>'/>
      <input type='hidden' name='event' value='<%= event.name %>'/>
      <div class="input-row">
        <div class="labelled-input">
          <label for="dailyVisitsRange">Daily Visits Range</label>
          <input class="--little" type="text"
            name="lowerDailyVisits" value="<%= formValues.lowerDailyVisits%>"/>
          &nbsp;&mdash;&nbsp;
          <input class="--little" type="text"
            name="upperDailyVisits" value="<%= formValues.upperDailyVisits %>"/>
        </div>
        <div class="labelled-input">
          <label for="revenueRange">Daily Revenue Range</label>
          <input class="--little" type="text"
            name="lowerRevenue" value="<%= formValues.lowerRevenue %>"/>
          &nbsp;&mdash;&nbsp;
          <input class="--little" type="text"
            name="upperRevenue" value="<%= formValues.upperRevenue %>"/>
        </div>
      </div>
      <div class="button-row">
        <button class="btn" type="submit">Filter</button>
      </div>
      <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Daily Visits</th>
            <th>Daily Revenue</th>
          </tr>
        </thead>
        <tbody>
          <% dailies.forEach((daily) => { %>
          <tr>
            <td><%= daily.date %></td>
            <td><%= daily.visits %></td>
            <td><%= daily.revenue %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </form>
    <div class="button-row --centered">
      <a class="btn-link" href="/manager/events">
        <button class="btn" type="button" name="back">Back</button>
      </a>
    </div>
  </body>
</html>
