<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../../partials/head %>
    <title>Explore Events</title>
  </head>
  <body>
    <h1 class="title --centered">Explore Event</h1>
    <form class="" action="" method="get">
      <div class="input-row">
        <div class="labelled-input">
          <label for="name">Name</label>
          <input type="text" name="name" value="" />
        </div>
        <div class="labelled-input">
          <label for="keyword">Description Keyword</label>
          <input type="text" name="keyword" value="" />
        </div>
      </div>
      <div class="input-row">
          <label for="">Site Name</label>
          <select class="dropdown" name="siteName">
              <% sites.forEach(site => { %>
                <option value="<%= site.SiteName %>"><%= site.SiteName %></option>
              <% }) %>
            </select>
      </div>
      <div class="input-row">
        <div class="labelled-input">
          <label for="startDate">Start Date</label>
          <input type="text" name="startDate" value="" />
        </div>
        <div class="labelled-input">
          <label for="endDate">End Date</label>
          <input type="text" name="endDate" value="" />
        </div>
      </div>
      <div class="input-row">
        <div class="labelled-input">
          <label for="visitRange">Total Visits Range</label>
          <div class="range-inputs">
            <input
              class="--little"
              type="text"
              name="lowerVisitTotal"
              value=""
            />
            &nbsp;&mdash;&nbsp;
            <input
              class="--little"
              type="text"
              name="upperVisitTotal"
              value=""
            />
          </div>
        </div>
        <div class="labelled-input">
          <label for="priceRange">Ticket Price Range</label>
          <div class="range-inputs">
            <input
              class="--little"
              type="text"
              name="lowerTicketPrice"
              value=""
            />
            &nbsp;&mdash;&nbsp;
            <input
              class="--little"
              type="text"
              name="upperTicketPrice"
              value=""
            />
          </div>
        </div>
      </div>
      <div class="input-row --centered">
        <div class="labelled-input">
          <input type="checkbox" name="includeVisited" />
          <label for="includeVisited">Include Visited</label>
        </div>
        <div class="labelled-input">
          <input type="checkbox" name="includeSoldOut" />
          <label for="includeSoldOut">Include Sold Out Events</label>
        </div>
      </div>
      <div class="button-row">
        <button class="btn" type="submit" value='true' name="filter">Filter</button>
        <button class="btn" type="button" onclick="goToEventDetail()">
          Event Detail
        </button>
      </div>
    </form>
    <div class="resultsTable">
      <form id="event-picker" action="events/event" method="get">
        <table>
          <thead>
            <tr>
              <th>Event Name</th>
              <th>Site Name</th>
              <th>Ticket Price</th>
              <th>Ticket Remaining</th>
              <th>Total Visits</th>
              <th>My Visits</th>
            </tr>
          </thead>
          <tbody>
            <% events.forEach((event) => { %>
            <tr class="event-line">
              <td>
                <input
                  type="radio"
                  value="<%= event.EventName %>"
                  name="event"
                  data-site="<%= event.SiteName %>"
                  onclick="pickEvent(this)"
                />
                <%= event.EventName %>
              </td>
              <td><%= event.SiteName %></td>
              <td><%= event.EventPrice %></td>
              <td><%= event.TicketsRemaining %></td>
              <td><%= event.TotalVisits %></td>
              <td><%= event.MyVisits %></td>
            </tr>
            <% })%>
          </tbody>
        </table>
        <input id="site-name" type="hidden" name="site" value="" />
      </form>
    </div>
    <div class="button-row">
      <a class="btn-link" href="/dashboard">
        <button class="btn" type="button" name="back">Back</button>
      </a>
    </div>
  </body>
  <script type="text/javascript">
    function goToEventDetail() {
      const siteInput = document.getElementById('site-name');
      const event = document.querySelector('.event-line input:checked');
      if (siteInput.value && event)
        document.getElementById('event-picker').submit();
    }
    function pickEvent(el) {
      document.getElementById('site-name').value = el.dataset.site;
    }
  </script>
</html>
