<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../../partials/head %>
    <meta charset="utf-8">
    <title>Transit Detail</title>
  </head>
  <body>
    <h1 class="title --centered">Take Transit</h1>
    <form class="" action="" method="get">
      <div class="input-row">
        <div class="labelled-input">
          <label for="site">Site</label>
          <input type="text" name="site" value="<%= site.name %>" disabled/>
        </div>
        <%- include('../../partials/transport-selector', {
          selected: formValues.transportType
        }) %>
      </div>
      <div class="input-row">
        <button class="btn" type="submit">Filter</button>
      </div>
    </form>
    <form class="" action="" method="post">
      <table>
        <thead>
          <tr>
            <th>Route</th>
            <th>Transport Type</th>
            <th>Price</th>
            <th># Connected Sites</th>
          </tr>
        </thead>
        <tbody>
          <% transits.forEach((transit) => { %>
          <tr>
            <td>
              <input type='radio'
                value="<%= transit.route %>"
                name="route"
                data-type="<%= transit.type %>"
                onclick="pickTransit(this)"/>
                <%= transit.route %></td>
            <td><%= transit.type %></td>
            <td><%= transit.price %></td>
            <td><%= transit.siteCount %></td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <br>
      <div class="input-row">
        <a class="btn-link" href="/visit/sites">
          <button class="btn" type="button" name="back">Back</button>
        </a>
        <div class="labelled-input">
          <label for="transitDate">Transit Date</label>
          <input type="text" name="transitDate" value=""/>
        </div>
        <input type="hidden" name="site" value="<%= site.name %>">
        <input id="transit-type" type="hidden" name="type" value="">
        <button class="btn" type="submit">Log Transit</button>
      </div>
    </form>
  </body>
  <script type="text/javascript">
    function pickTransit (el) {
      document.getElementById('transit-type').value = el.dataset.type;
    }
  </script>
</html>
