<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <% include ../../partials/head %>
    <title>Event Detail</title>
  </head>
  <body>
    <h1 class="title --centered">Event Detail</h1>
    <div class="input-row">
      <div class="labelled-input">
        <label for="event">Event</label>
        <input type="text" name="event"
          value="<%= name %>" disabled>
      </div>
      <div class="labelled-input">
        <label for="site">Site</label>
        <input type="text" name="site"
          value="<%= siteName %>" disabled>
      </div>
    </div>
    <div class="input-row">
      <div class="labelled-input">
        <label for="startDate">Start Date</label>
        <input type="text" name="startDate"
          value="<%= startDate %>" disabled>
      </div>
      <div class="labelled-input">
        <label for="endDate">End Date</label>
        <input type="text" name="endDate"
          value="<%= endDate %>" disabled>
      </div>
      <div class="labelled-input">
        <label for="duration">Duration Days</label>
        <input type="text" name="duration"
          value="<%= duration %>" disabled>
      </div>
    </div>
    <div class="input-row">
      <div class="labelled-input">
        <label for="staffAssigned">Staffs Assigned</label>
        <input type="text" name="staffAssigned"
          value="<%= staffAssigned.join(', ') %>" disabled>
      </div>
      <div class="labelled-input">
        <label for="capacity">Capacity</label>
        <input type="text" name="capacity"
          value="<%= capacity %>" disabled>
      </div>
      <div class="labelled-input">
        <label for="price">Price</label>
        <input type="text" name="price"
          value="<%= price %>" disabled>
      </div>
    </div>
    <div class="input-row">
      <div class="labelled-input">
        <label for="description">Description</label>
        <textarea name="description" disabled><%= description %>
        </textarea>
      </div>
    </div>
    <div class="button-row">
      <a class="btn-link" href="/staff">
        <button class="btn" type="button" name="back">Back</button>
      </a>
    </div>
  </body>
</html>
